#forms {
  text-align: center;
  margin-left: 37.3%;
  margin-right: 40%;
  margin-top: 10%;
  border: solid 2px;
  border-color: navy;
  border-radius: 10px;
  padding: 50px;
  background-color: #1f1fff;
  width: 20%;
}

.formbuttons{
	border-radius: 22px;
	padding: 7px;
	margin: 5px;
	background-color: #111;
  	color: #999;
}

.login_input{
	margin: 5px;
	border-radius: 11px;
	padding: 5px;
	border: 1px ridge black;
	background-color: #111;
	color: white;
}
body{
  overflow-x:hidden;
}
