.oferta{
  float: left;

  width: 24%;
  height: 380px;

  margin: 5px;
  border: 1px ridge black;
}


.off_img{
  width: 100%;
  height: 300px;
}
#nazwa {
  text-align:center;
}
body {
	overflow-x: hidden;
}
