.oferta{
  text-align: center;

  float: left;

  width: 24%;
  height: 380px;

  margin: 5px;
  border: 1px ridge black;
  border-radius: 10px;
}

.off_img{
  width: 100%;
  height: 300px;
}
#nazwa {
  text-align:center;
}
body {
	overflow-x: hidden;
}
