/* elementy uniwersalne */
*{
	font-family: 'Segoe UI', sans-serif;
	margin:0;
}


a{
	text-decoration: none;
	color: black;
}

.menulink{
	float: right;
  height: 25%;
  margin: 10px;
	margin-top: 1.5em;
}

.menulink:hover{
	background-color: #00d
  text-decoration: underline;
}

#header{
	height: 130px;
	width: 100%;
	background-image: linear-gradient(to left,#03a,#00f);
	padding: 3px;

}

#logo{
	float: left;
}

#co_name{
	float: left;
	margin-top: 40px;
}

#footer{
	/*background-color: #22a;*/
	width: 100%;
	height: 350px;
}

/* elementy strony głównej */

#fixed_panel{
	text-align: center;
	position: fixed;
	width: 100%;
}

#map_left_content{
	float:left;
	width:40%;
	height: 500px;
	padding: 12%;
}

#osm{
	float:left;
	width:60%;
	height:500px;
}

.sorry bro {
  width:500px;
  height:500px;
}

#film {
	float: left;
}
